.isEmpty {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.imageEmpty {
  width: 250px;
  height: 250px;
}

.titlePage {
  font-weight: 700;
  font-size: 27px;
}

.secondTitlePage {
  color: grey;
  font-weight: 500;
}

.boxBtn {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 0px; */
  font-size: 17px;
  height: 45px;
}

.btn {
  background-color: black;
  transition: 0.2s linear;
}

.icon {
  margin-right: 5px;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* transform: scale(1.1); */
  background-color: rgb(57, 57, 57);
}

@media (max-width: 476px) {
  .isEmpty {
    margin: 0 20px 20px;
  }

  .titlePage {
    font-weight: 700;
    font-size: auto;
  }

  .imageEmpty {
    width: 200px;
    height: 200px;
  }
}
