.addComment {
  margin: 20px 0px 35px;
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.inputComment {
  width: 50%;
  color: #a3a3a3;
}

.largeSize {
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  transition: 0.1s ease-in-out;
}

.largeSize:focus {
  border: 1px solid #00000015;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.smallSize {
  display: none;
}

@media (max-width: 775px) {
  .inputComment {
    width: 80%;
  }
  .largeSize {
    display: none;
  }
  .smallSize {
    display: initial;
  }
  .textSend {
    display: none;
  }
}

@media (max-width: 665px) {
  .addComment {
    justify-content: center;
  }

  .inputComment {
    width: 75%;
  }

  .addComment {
    gap: 0.5rem;
  }
}

@media (max-width: 550px) {
  .inputComment {
    width: 65%;
  }
}

@media (max-width: 401px) {
  .inputComment {
    width: auto;
  }
}

.userIcon {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: black;
  color: white;
  padding: 3px 9px;
  transition: 0.2s linear;
  width: 40px;
  height: 40px;
}
